.link-text {
    text-decoration: none;
}

.filter-width {
    width: 15%;
}

.pepito {
    background-color: red;
}

/* .table {
    min-height: 25vh;
} */

tr td:nth-child(1){
    width: 40%;
}
tr td:nth-child(n+2){
    width: 15%;
}

#attendance tr td:nth-child(1){
    width: 40%;
}

#attendance tr td:nth-child(n+2){
    width: 30%;
}


.accordion-button {
    font-size: 2rem;
    font-weight: 500;
    padding-left: 0;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 10;
}

.hidden {
    display: none;
}

.spinner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spinner img {
    height: 30vh;
    animation: rotate 3s infinite;
}

@keyframes rotate {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

.spinner span {
    margin-top: 2rem;
    font-size: 2rem;
}